.body {
  margin-left: 2em;
  height: 100%;

  margin: 1em 2em;
}
.body p {
  margin-left: 2em;
}
.body a {
  color: blue;
}
.body a:hover,
.body a:focus {
  font-weight: 700;
  cursor: pointer;
}
.notice {
  color: red;
}
@media screen and (max-width: 800px) {
  .body h1 {
    font-size: 1.5em;
  }
  .body h2 {
    font-size: 1.2em;
  }
}
