.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.clamp:hover {
  font-weight: 700;
}
.u {
  cursor: pointer;
}
.postingblock {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  min-height: 450px;
  white-space: pre-wrap;
  margin: 5px 15%;
  background-color: #fff;
  padding: 40px;
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.suggestions {
  z-index: 3;
  overflow: auto;
  position: absolute;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.48);
  padding: 10px;
  list-style: none;
  cursor: pointer;
}
.suggestBtn {
  background-color: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
}
.flex {
  display: flex;
}
.combobox {
  width: 100%;
}
.input {
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}
.textarea {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}
.post textarea {
  margin-bottom: 10px;
  height: 60%;
}
.tell {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.tell:active {
  position: relative;
  top: 2px;
}

.sharebtn {
  font-weight: bold;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.sharebtn:active {
  position: relative;
  top: 2px;
  color: #ffab01;
}

.dropup {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.menu a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.dropup:hover .menu {
  display: flex;
}

.share {
  grid-area: share;
}
.ratebtn {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.ratebtn:active {
  position: relative;
  top: 2px;
  color: #ffab01;
  border: 3px solid #ffab01;
}
.rate {
  grid-area: rate;
}
.slide {
  grid-area: slide;
}
.score {
  grid-area: score;
}
.blob {
  display: flex;
  height: 15vw;
  width: 15vw;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  font-weight: 500;
  font-family: "VT323", Arial; /*back up*/
  transition: 300ms;
}

.body {
  grid-area: joke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.tag {
  font-size: 24px;
  grid-area: tag;
  margin: 10px 0;
  color: hsl(0, 100%, 72%);
  cursor: pointer;
}
.close {
  grid-area: close;
  cursor: pointer;
  font-size: 40px;
  color: #ffab01;
  display: flex;
}
.closebtn {
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
}
.main {
  display: grid;
  grid-template-areas:
    "score tag share"
    "score joke joke"
    "score slide rate";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 30px auto 80px;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  min-height: 400px;
  white-space: pre-wrap;
  margin: 5px 15%;
  background-color: #fff;
}
.page {
  composes: main;
  height: auto;
}
.modal {
  composes: main;
  grid-template-areas:
    "close tag share"
    "score joke joke"
    "score slide rate";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 0px;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  height: 80vh;
  white-space: pre-wrap;
  background-color: #fff;
  z-index: 4;
  overflow-y: auto;
}
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
@media screen and (max-width: 800px) {
  .blob {
    width: 20vw;
    height: 20vh;
  }
  .rate {
    display: flex;
    justify-content: center;
  }
  .tag {
    margin: 0;
    font-size: 20px;
  }
  .ratebtn {
    font-size: 24px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .u {
    width: 60px;
    height: 60px;
  }
  .main {
    border-radius: 40px;
    width: 100vw;
    margin: 5px 0;
    padding: 10px 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px auto 60px 60px;

    grid-template-areas:
      "score tag tag"
      "score joke joke"
      "score slide share"
      "rate rate rate";
  }
  .postingblock {
    border-radius: 40px;
    width: 100vw;
    margin: 5px 0;
    padding: 10%;
  }
  .modal {
    padding: 10px;
    width: 100vw;
    grid-template-areas:
      "close tag tag"
      "score joke joke"
      "score slide share"
      "rate rate rate";
  }

  .dropup:hover .menu {
    flex-direction: column;
    width: 80px;
  }
  .closebtn {
    margin: 0;
  }
  .content,
  .clamp {
    font-size: 20px;
  }
  .input {
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    resize: none;
  }
}
@media screen and (min-width: 1000px) {
  /*scrollbar for longer post for pc users*/
  .modal::-webkit-scrollbar {
    width: 7px;
  }
  .modal::-webkit-scrollbar-button {
    background: transparent;

    border-radius: 4px;
  }
  .modal::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: rgba(0, 0, 0, 0.4);

    border: 1px solid slategrey;
  }
  .modal::-webkit-scrollbar-track-piece,
  .modal::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
}
