@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.link {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 100%;
}
.link:hover {
  font-weight: 700;
}
.u {
  cursor: pointer;
}
.postingblock {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  min-height: 400px;
  white-space: pre-wrap;
  margin: 5px 15%;
  background-color: #fff;
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 95%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}
.post textarea {
  margin-bottom: 10px;
  height: 60%;
}
.tell {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.tell:active {
  position: relative;
  top: 2px;
}
.content {
  overflow: auto;
}
.dropup {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  background: rgba(24, 24, 24, 0.3);
}

.menu a:hover {
  background-color: #ccc;
  border-radius: 5px;
}

.dropup:hover .menu {
  display: flex;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.share {
  grid-area: share;
}
.sharebtn {
  font-weight: bold;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 10px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.ratebtn {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.ratebtn:active {
  position: relative;
  top: 2px;
  color: #ffab01;
  border: 3px solid #ffab01;
}
.rate {
  grid-area: rate;
}
.score {
  grid-area: score;
}
.blob {
  display: flex;
  height: 15vw;
  width: 15vw;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  font-weight: 500;
  font-family: "VT323";
  transition: 300ms;
}

.body {
  grid-area: joke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.tag {
  grid-area: tag;
  margin: 10px 0;
}
.main {
  display: grid;
  grid-template-areas:
    "score tag share"
    "score joke joke"
    "score slide rate";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 30px auto 80px;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  min-height: 400px;
  white-space: pre-wrap;
  margin: 5px 15%;
  background-color: #fff;
}
.modal {
  composes: main;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 0px;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  height: 80vh;
  white-space: pre-wrap;
  background-color: #fff;
  z-index: 4;
}
@media screen and (max-width: 800px) {
  .main {
    border-radius: 60px;
    width: 100vw;
    margin: 5px 0;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .postingblock {
    border-radius: 60px;
    width: 100vw;
    margin: 5px 0;
  }
  .modal {
    padding: 20px;
    width: 100vw;
  }
}
