.main {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 60px;
  width: 70%;
  height: 300px;
  margin: 5px 15%;
}
.body {
  padding: 1em;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 120px;
  width: 120px;
  border-radius: 60px;
}
