.body {
  height: 100vh;
  width: 100vw;
  user-select: none;
}
.doodle {
  width: 200px;
  height: 200px;
}
.main {
  position: relative;
  display: flex;
  min-height: 50%;
  padding: 20px;
  margin: 10px 10%;
  border: 3px solid black;
  border-radius: 20px;
}
.profile {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  min-width: 50%;
}
.nickname {
  border: none;
  font-size: 24px;
  padding: 10px 0;
  margin: 5px 0;
  max-width: 240px;
}
.bio {
  resize: none;
  height: 70%;
  white-space: pre-wrap;
  font-size: 24px;
  padding: 10px 0;
  margin: 5px 0;
  border: none;
}
.edit {
  display: flex;
  justify-content: flex-end;
}
.editbtn {
  font-size: 48px;
  cursor: pointer;
  color: green;
}
.editbtn:active {
  position: relative;
  top: 2px;
}
.signout {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 40px;
  top: 5px;
  left: 5px;
  cursor: pointer;
  color: hsl(0, 100%, 50%);
}

.login {
  width: 60%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signin {
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 100%;
  height: 80px;
  padding: 12px 16px 12px 16px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #757575;
  background-color: white;
}
.signin:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.signin:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
/*show mobile login btns when screen width<800px*/
.loginMobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .nickname,
  .bio {
    font-size: 24px;
  }
  .main {
    margin: 0 0;
  }
  .doodle {
    width: 100px;
    height: 100px;
  }

  .signout {
    font-size: 30px;
    top: 0;
    left: 0;
  }
  .signin {
    font-size: 24px;
  }
  .loginWeb {
    display: none;
  }
  .loginMobile {
    display: unset;
  }
}
