.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.container {
  position: fixed;
  width: 90vw;
  height: 80vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  z-index: 2;
  white-space: pre-wrap;
  border-radius: 16px;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 20px;
    width: 100vw;
  }
}
